<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <!-- Link to the Services page -->
        <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
        </li>

        <!-- Divider -->
        <li class="nav-item">
            <p class="nav-link">|</p>
        </li>

        <!-- Link to the My Reservations page -->
        <li class="nav-item">
            <a class="nav-link" href="/my-reservations">My Reservations</a>
        </li>

        <!-- Divider -->
        <li class="nav-item">
            <p class="nav-link">|</p>
        </li>

        <!-- Admin links for managing various resources -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/services">Manage Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/reservations">Manage Reservations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">Manage Users</a>
        </li>

        <!-- Divider -->
        <li class="nav-item">
            <p class="nav-link">|</p>
        </li>

        <!-- Logout link -->
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</div>
