<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
            <p class="nav-link">|</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my-reservations">My Reservations</a>
        </li>
        <li class="nav-item">
            <p class="nav-link">|</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/reservations">Manage Reservations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">Manage Users</a>
        </li>
        <li class="nav-item">
            <p class="nav-link">|</p>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</div>