<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container py-5 mt-5">
      <h1 class="display-4 text-center mb-4">Terms of Service</h1>
      <p class="lead">Effective Date: November 29, 2024</p>

      <h2>1. Acceptance of Terms</h2>
      <p>
        By using our Online Reservation System, you agree to these Terms of
        Service. If you do not agree, you may not use our services.
      </p>

      <h2>2. Use of Services</h2>
      <p>You agree to:</p>
      <ul>
        <li>
          Provide accurate and up-to-date information when creating an account
          or making reservations.
        </li>
        <li>Not use our platform for fraudulent or unlawful activities.</li>
        <li>Respect our staff and other customers when using our services.</li>
      </ul>

      <h2>3. Reservations</h2>
      <p>
        Reservations are subject to availability. We reserve the right to cancel
        or modify your reservation if necessary. You will be notified of any
        changes.
      </p>

      <h2>4. Intellectual Property</h2>
      <p>
        All content on our website, including text, images, and logos, is the
        property of Online Reservations. You may not use or reproduce any
        content without our permission.
      </p>

      <h2>5. Limitation of Liability</h2>
      <p>
        We are not liable for any damages arising from the use of our services,
        except where required by law.
      </p>

      <h2>6. Termination</h2>
      <p>
        We reserve the right to terminate or suspend your access to our services
        at our sole discretion, without prior notice, if you violate these Terms
        of Service.
      </p>

      <h2>7. Changes to These Terms</h2>
      <p>
        We may update these Terms of Service from time to time. Any changes will
        be posted on this page with the updated effective date.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %> <%-
    include('./partials/bootstrap.ejs') %>
  </body>
</html>
