.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/hero.webp') no-repeat center center/cover;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero a {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}

.custom-navbar {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    backdrop-filter: blur(10px); /* Adds a subtle blur effect */
    transition: background-color 0.3s ease-in-out; /* Smooth transition on hover */
}

.navbar a.nav-link {
    color: white;
    transition: color 0.3s ease-in-out; /* Smooth hover effect */
}

.navbar a.nav-link:hover {
    color: #007bff; /* Highlight link on hover */
}
